In [38]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [39]:
import pandas as pd
import numpy as np
import datetime as dt
from datetime import timedelta

In [40]:
data = pd.read_csv('https://covid.ourworldindata.org/data/ecdc/total_cases.csv', index_col=0)

In [41]:
data = data.fillna(0)

In [42]:
data.index = (pd.to_datetime(data.index))

In [43]:
countries = data.columns[1:]
window = 3
i = window+1

In [44]:
myDict = {key: None for key in countries}

In [45]:
for x in countries:
    val = round(((data[x][-1]/data[x][-i])**(1/window)-1)*100, 2)
    if(np.isposinf(val)):
        myDict[x] = 100
    else:
        myDict[x] = val

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in double_scalars

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: RuntimeWarning: divide by zero encountered in double_scalars

In [46]:
# import csv
# with open('worldmap.csv', 'w') as f:
#     f.write("country,data\n")
#     for key in myDict.keys():
#         f.write("%s, %s\n" % (key, myDict[key]))

In [47]:
filetsv = pd.read_csv('world_population.tsv',sep='\t')

In [48]:
dict_df = pd.DataFrame.from_dict(list(myDict.items()))

In [49]:
dict_df = dict_df.rename(columns={0:'name'})

In [50]:
world_population = pd.merge(filetsv, dict_df, on='name', how='left')

In [51]:
world_population = world_population.drop(['population','Unnamed: 3'],axis=1, errors='ignore')
world_population = world_population.rename(columns = {1: 'population'})

In [52]:
world_population

      id                                 name  population
0    CHN                                China        0.09
1    IND                                India       12.76
2    USA                        United States        7.94
3    IDN                            Indonesia        8.65
4    BRA                               Brazil       12.71
..   ...                                  ...         ...
237  ATA                           Antarctica         NaN
238  ATF  French Southern and Antarctic Lands         NaN
239  SDS                          South Sudan       44.22
240  ABV                           Somaliland         NaN
241  OSA                               Kosovo       10.76

[242 rows x 3 columns]

In [53]:
world_population.to_csv('world_population.tsv', sep = '\t', index=False)

In [18]:
data['Yemen']

date
2019-12-31    0.0
2020-01-01    0.0
2020-01-02    0.0
2020-01-03    0.0
2020-01-04    0.0
             ...
2020-04-07    0.0
2020-04-08    0.0
2020-04-09    0.0
2020-04-10    1.0
2020-04-11    1.0
Name: Yemen, Length: 103, dtype: float64